{% extends "dashboard_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load app_filters %}

{% block dashboard_breadcrumb %} 
    <a href="{% url "dashboard_detail" %}?page=security" class="breadcrumb">{% trans "Humanitarian Access" %}</a>
    {% include "links_title.html" %}
{% endblock dashboard_breadcrumb %}

{% block dashboard_content %}
    <div class="row no-margin">
        {% include "qlink_list.html" %}
        <div class="input-field col s12 xl5 offset-xl3">
            <div id="reportrange" class="grey-text text-darken-1" style="cursor: pointer; padding: 0px 10px; border: 1px solid; height: 28px;">
                <i class="fa fa-calendar"></i>&nbsp; {% trans "Incident between" %} :
                <i class="material-icons right">keyboard_arrow_down</i>
                <span ></span> <b class="caret hidden-print"></b>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {% trans "Map" %}
                    </span>
                    <div class="row">
                        <div class="col s12 l3 xl2">
                            <div id="layercontrol">
                                <div class="input-field">
                                    <select id="haccessOpt">
                                        <option value="total_incident">Total Incidents</option>
                                        <option value="total_violent">Violent Incidents</option>
                                        <option value="total_injured">Injured Casualties</option>
                                        <option value="total_dead">Dead Casualties</option>
                                    </select>
                                    <label for="haccessOpt">Choose Layer :</label>
                                </div>

                                <label for="slideRange">Range :</label>
                                <div id="slideRange">
                                    <div id="keypress"></div>
                                    <br>
                                    <div class="row">
                                        <div class="input-field col s12 l6">
                                            <input type="text" id="input-with-keypress-0" class="">
                                        </div>
                                        <div class="input-field col s12 l6">
                                            <input type="text" id="input-with-keypress-1" class="">
                                        </div>
                                    </div>
                                </div>

                                <label for="themes">Pick a theme :</label>
                                <div id="themes">
                                    <button class="theme active" data-btn="YlOrRd"></button>
                                    <button class="theme" data-btn="PuRd"></button>
                                    <button class="theme" data-btn="GnBu"></button>
                                    <button class="theme" data-btn="Blues"></button>
                                    <button class="theme" data-btn="BuGn"></button>
                                    <button class="theme" data-btn="BuPu"></button>
                                    <button class="theme" data-btn="Greens"></button>
                                    <button class="theme" data-btn="Greys"></button>
                                    <button class="theme" data-btn="Oranges"></button>
                                    <button class="theme" data-btn="OrRd"></button>
                                    <button class="theme" data-btn="PuBu"></button>
                                    <button class="theme" data-btn="PuBuGn"></button>
                                    <button class="theme" data-btn="Purples"></button>
                                    <button class="theme" data-btn="RdPu"></button>
                                    <button class="theme" data-btn="Reds"></button>
                                    <button class="theme" data-btn="YlGn"></button>
                                    <button class="theme" data-btn="YlGnBu"></button>
                                    <button class="theme" data-btn="YlOrBr"></button>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l9 xl6">
                            <div id="leaflet_haccess_map" class="map-size"></div>
                        </div>
                        <div class="col s12 l12 xl4">
                            <div id="mapInfo"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% tolist panels.charts.spider.graph_of_incident_and_casualties_trend_by_incident_type panels.tables.incidents_and_casualties_by_incident_type panels.charts.bar.number_of_casualties_by_incident_type panels.charts.bar.number_of_incidents_by_incident_type "type" as row1 %}
        {% tolist panels.charts.spider.graph_of_incident_and_casualties_trend_by_target_type panels.tables.incident_and_casualties_trend_by_target_type panels.charts.bar.number_of_casualties_by_target_type panels.charts.bar.number_of_incidents_by_target_type "target" as row2 %}
        {% tolist row1 row2 as rows %}

        {% for row in rows %}
        <div class="row">
            <div class="col s12">
                <div class="card card-graph">
                    <div class="card-header red darken-3 white-text z-depth-2">
                        <span class="card-title">{{ row.0.title }}</span>
                    </div>
                    <div class="card-image">
                        <div class="row">
                            <div class="col m6">
                                <div id="chart_polar_{{ row.0.key }}" class="ch-size polar-chart" data-color='colorSecurity' data-xaxis='{{ row.0.labels | jsonify | safe }}' data-val='{{ row.0.child | jsonify | safe }}'
                                ></div>
                            </div>
                            <div class="col m4">
                                <div class="card-panel z-depth-1 checkbox-group">
                                    <form class="parents-checkbox">
                                        <div class="right">
                                            <label class="panel-select-all">
                                                <input type="checkbox" class="filled-in" checked=""/>
                                                <span>{% trans 'Select All' %}</span>
                                            </label>
                                            <button class="btn-flat btn-small waves-effect waves-light ply-trget" type="button">Apply</button>
                                        </div>
                                        <span>{% trans 'Select Incident Type' %}</span>
                                    </form>
    
                                    <div class="">
                                        <div>
                                            {% get_current_language_bidi as LANGUAGE_BIDI %}
                                            <div id="indicatorType" class="row no-margin child-checkbox">
                                                {% for item in row.0.labels_all %}
                                                    <div class="col s12 {{ LANGUAGE_BIDI | yesno:'rtl, ltr' }}">
                                                        <label>
                                                            <input type="checkbox" id="{{ row.4 }}{{ forloop.counter0 }}" class="filled-in checkIncident" name="main_{{ row.4 }}_select[]" value="{{ item.name }}" {% if item.selected %}checked=true{% endif %}>
                                                            <span>{{ item.name }} ({{ item.count }} incidents)</span>
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 xl6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            {{ row.1.title }}
                        </span>
                        <p>{% trans 'description' %}</p>
                        <div class="table-responsive-scroll">
                            <table id="" class="striped highlight online_security">
                                <thead>
                                    <tr>
                                        <th rowspan="2">{% trans "Incident Type" %}</th>
                                        <th colspan="2">{% trans "Incidents" %}</th>
                                        <th colspan="2">{% trans "Casualties" %}</th>
                                    </tr>
                                    <tr>
                                        <th class="hum">{% trans "Total" %}</th>
                                        <th class="hum">{% trans "Violent" %}</th>
                                        <th class="hum">{% trans "Injured" %}</th>
                                        <th class="hum">{% trans "Dead" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in row.1.child %}
                                    <tr>
                                        {% for child in item.value %}
                                            <td {% if item.isgroup %} class="boldRow" {% endif %}>{{ child }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 xl3">
                <div class="card card-graph">
                    <div class="card-header red darken-3 white-text z-depth-2">
                        <span class="card-title">{{ row.2.title }}</span>
                    </div>
                    <div class="card-image">
                        <div id="{{ row.2.key }}" class="ch-size bar-chart" data-color="colorDefault" data-colorpoint="false" data-legend="true" data-yaxis='{{ row.2.labels | jsonify | safe }}' data-val='{{ row.2.child | jsonify | safe }}' ></div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 xl3">
                <div class="card card-graph">
                    <div class="card-header red darken-3 white-text z-depth-2">
                        <span class="card-title">{{ row.3.title }}</span>
                    </div>
                    <div class="card-image">
                        <div id="{{ row.3.key }}" class="ch-size bar-chart" data-color="colorDefault" data-colorpoint="false" data-legend="true" data-yaxis='{{ row.3.labels | jsonify | safe }}' data-val='{{ row.3.child | jsonify | safe }}' ></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {% trans "Number of Incident and Casualties Overview" %}
                    </span>
                    <p>{% trans "Summary of Incidents and Casualties occured in Afghanistan. The data is updated each working day." %}</p>
                    <div class="table-responsive-scroll">
                        <table id="" class="striped highlight online">
                            <thead>
                                <tr>
                                    <th rowspan="2">{% trans "Region" %}</th>
                                    <th colspan="2">{% trans "Incidents" %}</th>
                                    <th colspan="2">{% trans "Casualties" %}</th>
                                </tr>
                                <tr>
                                    <th class="hum">{% trans "Total" %}</th>
                                    <th class="hum">{% trans "Violent" %}</th>
                                    <th class="hum">{% trans "Injured" %}</th>
                                    <th class="hum">{% trans "Dead" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for parent in panels.tables.number_of_incident_and_casualties_overview.parentdata %}
                                    <td class="boldRow">{{parent}}</td>
                                {% endfor %}
                                {% for child in panels.tables.number_of_incident_and_casualties_overview.child %}
                                    <tr class="selectable" onclick="jump_url({{data.code}});">
                                        {% for item in child.value %}
                                            <td>{{item}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {% trans "List of Latest Incidents" %}
                    </span>
                    <p>{% trans 'This table gives the details of the incidents occured in Afghanistan. It is restricted to show 100 latest incidents only.' %}</p>
                    <div class="table-responsive-scroll">
                        <table id="" class="striped highlight list_incident online">
                            <thead>
                                <tr>
                                    <th>{% trans "Date" %}</th>
                                    <th>{% trans "Description" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in panels.tables.list_of_latest_incidents.child %}
                                <tr>
                                    <td>{{ item.0 |date:'M j, Y' }}</td>
                                    <td>{{ item.1 }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block extra_script %}

    <script>
        var centroid = boundary['centroid'];
        var chosen_label = '{{parent_label}}';
        var map_category = ['{% trans "Total Incidents" %}', '{% trans "Violence Incidents" %}', '{% trans "Injured" %}', '{% trans "Dead" %}'];
    </script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function(){

            // Select All/None
                $('.checkbox-group .parents-checkbox .panel-select-all :checkbox').change(function () {
                    $(this).closest('.checkbox-group').find(':checkbox').not(this).prop('checked', this.checked).closest('label');
                });

                $('.child-checkbox :checkbox').change(function () {
                    var $group = $(this).closest('.checkbox-group');
                    $group.find('.parents-checkbox .panel-select-all :checkbox').prop('checked', !$group.find('.child-checkbox :checkbox:not(:checked)').length);
                });
            // /Select All/None

            // DateRangePicker
            var daterange = getParameterByName("daterange");
            if (daterange == null){
                var start = moment().subtract(365, 'days');
                var end = moment();
            } else {
                var dateVar = daterange.split(',');
                var start = moment(new Date(dateVar[0].substr(0, 4), parseInt(dateVar[0].substr(5, 2))-1, dateVar[0].substr(8, 2)));
                var end = moment(new Date(dateVar[1].substr(0, 4), parseInt(dateVar[1].substr(5, 2))-1, dateVar[1].substr(8, 2)));;
            }

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                '{% trans 'Today' %}': [moment(), moment()],
                '{% trans 'Yesterday' %}': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                '{% trans 'Last 7 Days' %}': [moment().subtract(6, 'days'), moment()],
                '{% trans 'Last 30 Days' %}': [moment().subtract(29, 'days'), moment()],
                '{% trans 'This Month' %}': [moment().startOf('month'), moment().endOf('month')],
                '{% trans 'Last Month' %}': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                '{% trans 'Last Year' %}': [moment().subtract(365, 'days'), moment()]
                }
            }, cb);

            cb(start, end);

            $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
                var url = $(location).attr("href");
                if (daterange == null){
                window.document.location = url+'&daterange='+picker.startDate.format('YYYY-MM-DD')+','+picker.endDate.format('YYYY-MM-DD');
                }  else {
                // url = url.replace(/(daterange=).*?(&)/,'$1' + picker.startDate.format('YYYY-MM-DD')+','+picker.endDate.format('YYYY-MM-DD') + '$2');
                url = updateUrlParameter(url, 'daterange', picker.startDate.format('YYYY-MM-DD')+','+picker.endDate.format('YYYY-MM-DD'))

                window.document.location = url;
                }
            });
            // /DateRangePicker

            $( "form.form-inline" ).submit(function( event ) {
            event.preventDefault();
            });

            $('button.ply-trget').on('click', function(event) {
                var type_selected_param = '';
                var target_selected_param = '';

                var type_unselected = $("input[name='main_type_select[]']:checkbox:not(:checked)");
                var type_selected = $("input[name='main_type_select[]']:checkbox:checked");

                var target_unselected = $("input[name='main_target_select[]']:checkbox:not(:checked)");
                var target_selected = $("input[name='main_target_select[]']:checkbox:checked");

                if (type_unselected.length > 0) {
                    // var type_array = type_selected.val();
                    var type_array = [];
                    type_selected.each( function () {
                    type_array.push($(this).val());
                    });
                    type_selected_param += type_array;
                }


                if (target_unselected.length > 0) {
                    // var target_array = $('#incidentTarget-select').val();
                    var target_array = [];
                    target_selected.each( function () {
                    target_array.push($(this).val());
                    });
                    target_selected_param += target_array
                }

                if (type_selected.length == 0) {
                    type_selected_param = 'noselection';
                }

                if (target_selected.length == 0) {
                    target_selected_param = 'noselection';
                }

                var url = $(location).attr("href");

                if (type_selected_param != ''){
                    if (getParameterByName("incident_type") == null){
                        url += '&incident_type='+type_selected_param;
                    } else {
                        url = updateUrlParameter(url, 'incident_type', type_selected_param);
                    }

                } else {
                    url = removeParam('incident_type', url);
                }

                if (target_selected_param != ''){
                    if (getParameterByName("incident_target") == null){
                        url += '&incident_target='+target_selected_param;
                    } else {
                        url = updateUrlParameter(url, 'incident_target', target_selected_param)
                    }

                } else {
                    url = removeParam('incident_target', url);
                }

                window.document.location = url;
            });
        });
    </script>
{% endblock %}